<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    title Pug Example
  body
    .flexbox
      .single.item
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis nobis placeat repellendus quaerat, officia ex porro autem quasi repudiandae, quisquam nulla iusto voluptates quia explicabo?
      .double.item
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ex officia quisquam nesciunt quam iure magnam cupiditate quaerat fuga expedita. Esse quia saepe iste aut. At ex soluta consectetur itaque obcaecati? Ratione inventore sed eum accusantium dolor ducimus laborum. Odit.